.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.modalActive {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 3px;
}
.menuB{
    display: flex;
    justify-content: space-between
}
.button{
    display: flex;
    height: 20px;
    width: 200px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.button:hover{
    border: 2px solid #00c220;
}
.dice{
    margin: 25px;
    padding: 25px;
    border-radius: 12.5px;
    border: 2px solid grey;
}
.modalContent {
    padding: 20px;
}
.diceSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.diceSelection .dice {
    margin: 5px;
    width: 20px;
    height: 20px; 
    background-color: #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selectionInfo {
    margin-top: 30px;
    text-align: center;
}
.selectionInfo p {
    margin: 5px 0;
}
#selectButton {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.result {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}
.result .dice {
    margin: 120px 5px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

